[submodule "_layouts"]
	path = _layouts
	url = git@github.com:hutscape/project-layouts.git
[submodule "_includes"]
	path = _includes
	url = git@github.com:hutscape/project-includes.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:hutscape/project-scripts.git
[submodule "pcb/library"]
	path = pcb/library
	url = git@github.com:hutscape/kicad-library.git
